html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.head {
  width: 100%;
}

.btn-head {
  width: 100%;
}

.part-line {
  border-top: 0.1px solid #c4aed6;
}

.part-b {
  background-color: rgb(170, 212, 212);
  border-radius: 20px;
  border: none;
  padding: 5px;
  width: 100px;
  position: relative;
  bottom: 0;
}

.part-center {
  margin-top: auto;
  text-align: center;
}

.part-center>h1 {
  color: #634d75;
  font-size: 3rem;
  line-height: 125%;
  font-weight: 700;
  font-family: "Playwrite SK", cursive;
  font-style: italic;
}

footer {

  background-color: #f1edf3;
  font-family: "Roboto Slab";
  font-size: 0.7rem;
  text-align: center;
  margin-top: auto;
  font-style: italic;
  color: #634d75;
  text-decoration: none;
  line-height: 180%;

}

footer span {
  display: block;
}


header {
  background-color: #ffffff;
}

a:hover {
  color: red;
}

.center {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  border: solid 1px #c4aed6;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
  max-height: 100%;
  color: #634d75;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 20%;
}

form>input {
  border: 0.1px solid #c4aed6;
  border-radius: 5px;
  font-style: italic;
  color: #634d75;
}

form>label {
  font-style: italic;
}

.logout>input {
  font-style: normal;
}

form>small {
  font-style: italic;
  color: #552f74;
  text-align: center;
}

form>input:focus {
  border: solid #c4aed6;
  outline: none;
}

.photo-input {
  border: 0.1px solid #c4aed6;
  border-radius: 5px;
  font-style: italic;
  color: #634d75;
  width: 100%;
}

.photo-input:focus {
  border: solid #c4aed6;
  outline: none;
}

.btn {
  display: inline-block;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn-outline-secondary {
  color: #634d75;
  border-color: #c4aed6;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #c4aed6;
  border-color: #c4aed6;
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}

#dropdownMenu2 {
  width: 35px;
  height: 35px;
  color: #634d75;
  border-color: #c4aed6;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

#dropdownMenu2:hover {
  color: #634d75;
  background-color: #c4aed6;
  border-color: #c4aed6;
}

.user-icon:hover {
  width: 36px;
  height: 36px;
}

.avatar {
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

.content_block {
  border-bottom: 1px solid #c4aed6;
  height: 150px;
  margin-left: 75px;
  margin-right: 75px;
}


.album_view {
  color: #634d75;
  font-size: 3rem;
  line-height: 125%;
  font-weight: 700;
  font-family: "Playwrite SK", cursive;
  font-style: italic;
}

.album {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border: 1px solid #c4aed6;
  border-radius: 20px;
  background-color: #c4aed6;
  width: 150px;
  height: 300px;
}

.name_col {
  color: #634d75;
  background-color: #c4aed6;
  border-radius: 20px;
  margin-top: 2px;
  width: 100%;
  text-align: center;
  font-family: "Playwrite SK", cursive;
  font-style: italic;
  font-size: 1rem;
  font-weight: bold;
}

.album_link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.btn-album {
  color: #634d75;
  border-color: #c4aed6;
  background-color: #c4aed6;
  width: 100%;
  font-family: "Playwrite SK", cursive;
  font-style: italic;
  font-size: 1rem;
}

.btn-album:hover {
  color: #fff;
  background-color: #c4aed6;
  border-color: #c4aed6;
}

.name_album {
  font-family: "Playwrite SK", cursive;
  font-style: italic;
  font-size: 2rem;
  color: #634d75;
}

@media (max-width: 1330px) {
  .btn_1 {
    padding: .5rem 1rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 1330px) {
  .btn_1 {
    padding: .5rem 1rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 1280px) {
  .btn_1 {
    padding: .3rem 1rem;
    font-size: 0.6rem;
  }
}

@media (max-width: 1100px) {
  .btn_1 {
    padding: .2rem .5rem;
    font-size: 0.5rem;
  }
}

@media (max-width: 960px) {
  .btn_1 {
    padding: .1rem .3rem;
    font-size: 0.4rem;
  }
}

@media (max-width: 780px) {
  .btn_1 {
    padding: .1rem .2rem;
    font-size: 0.3rem;
  }
}

@media (max-width: 640px) {
  .btn_1 {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
  }
}


.messages {
  width: 100%;
  height: 50px;
  text-align: center;
}

.msg {
  color: #634d75;
  border-radius: 20px;
  font-family: "Playwrite SK", cursive;
  font-style: italic;
}

.error {
  border: 1px solid #a82d48;
}

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid #c4aed6;
}

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}

.input__file-button {
  width: 100%;
  max-width: 290px;
  height: 60px;
  background: none;
  color: #634d75;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid #c4aed6;
  border-radius: 20px;
}